@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 1em;
}

body{
    background: rgb(226, 215, 215);
    font-family:  'Montserrat', sans-serif;;
}

/* Awesome Branding */

.awesome-branding{
    background-image: url('./back1.jpg');
    background-size: cover;
    height: auto;
    overflow: initial;
    transition-duration: 0.4s;
}

/* Branding

Header */

header{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 10em;
}

/* Logo */

.logo-nav-cont{
    border-bottom: 2px solid white;
    display: flex;
}

.logo{
    align-self: flex-end;
    width: 20vw;
}

.logo img{
    width: 150px;
    height: 75px;
}

/* Navigation */


.awesome-branding nav{
    display: flex;
    margin-left: 8vw;
    color: white;
    flex-basis: 40vw;
}

.awesome-branding nav ul{
    list-style: none;
    align-self: flex-end;
    background: rgba(0, 0, 0, 0.623);
}

.awesome-branding nav li{
    display: inline-block;
    padding: 10px;
    font-size: 0.8em;
}

.awesome-branding nav li:hover{
    background: rgb(255, 254, 254);
    color: #27241f;
}

.nav-active{
    background: rgb(255, 254, 254);
    color: #27241f;
}


/* Contact */

.contact{
    flex-basis: 100%;;
    text-align: right;
    background: #bebebe88;
    font-size: 1.1em;
}

.contact img{
    height: 1.1em;
    width: 1.1em;
}

/* More Section */

.more{
    background: white;
    width: 30%;
    height: fit-content;
    margin-left: 10vw;
    margin-top: 8vw;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Do Hyeon';
}

.more h1,h3{
    flex-basis: 100%;
}

.more h1{
    padding: 0.4em 0 0 0.9em;
}

.more h3{
    padding: 0 0 0 0.6em;
}

.more button{
    background: #e69c1b;
    color: azure;
    border: 0;
    height: 2.4em;;
    flex-basis: 40%;
    margin-left: 17.5vw;
}

/* background Image Section */

.back-images{
    display: flex;
    background: rgb(226, 215, 215);
    width: fit-content;
    margin: auto;
    justify-content: space-between;
    margin-top: 11vw;
    padding: 0.4em 0.4em 0 0.4em;
}

.back-images img{
    width: 18vw;
    height: 9vw;
    padding-right: 0.4em;
}

.back-images img:last-child{
    padding-right: 0; 
}

/* Project styles */

.project-head{
    width: 40vw;
    margin: auto;
    text-align: center;
    margin-top: 5vw; 
}

.project-head img{
    height: 2em;
    width: 9em;
}

.project-head h3{
    color: rgb(105, 105, 105);
}

.location-icon{
    width: 1em;
    height: 1em;;
}

.project-list{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: content-box;
}

.project{
    flex-basis: 200px;
    background: white;
    margin: 0.6em;
    padding: 1em;
}

.project h2{
    padding: 0.5em;
}

.project img:hover{

        opacity: 0.4;
    
}

.project-view{
    width: max-content;
    margin: auto;
    margin-top: 2em;
}

.project-view button{
    background: #e69c1b;
    color: azure;
    border: 0;
    padding: 1.2em;
    text-align: center;
    width: max-content;
    margin: auto;
}

.project-list img:not(.location-icon){
    height: 130px;
    width: 260px;
    object-position: cover;
}